<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AdminHelpMapper">
	<select id="adminHelpQnACount" resultType="int">
		select count(*) from helpqna
	</select>
	<select id="adminHelpQnAListSelect" resultType="com.gobook.help.dto.HelpQnADto" parameterType="java.util.HashMap">
			<![CDATA[
			select * from
			(select rownum rnum, a.* from 
				(select * from helpqna order by helpqna_num desc) a)
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<insert id="adminHelpQnAWriteInsert" parameterType="com.gobook.help.dto.HelpQnADto">
		insert into helpqna values(helpqna_helpqna_num_seq.nextval, #{helpqna_subject, jdbcType=VARCHAR}, #{helpqna_content, jdbcType=VARCHAR})
	</insert>
	
	<select id="adminHelpQnARead" resultType="com.gobook.help.dto.HelpQnADto" parameterType="int">
		select * from helpqna where helpqna_num=#{helpqna_num}
	</select>
	
	<delete id="adminHelpQnADelete" parameterType="int">
		delete from helpqna where helpqna_num=#{helpqna_num}
	</delete>
	
	<select id="adminHelpQnASelect" resultType="com.gobook.help.dto.HelpQnADto" parameterType="int">
		select * from helpqna where helpqna_num=#{helpqna_num}
	</select>
	
	<update id="adminHelpQnAUpdateOk" parameterType="com.gobook.help.dto.HelpQnADto">
		update helpqna set helpqna_subject=#{helpqna_subject}, helpqna_content=#{helpqna_content} where helpqna_num=#{helpqna_num}
	</update>
	
</mapper>