<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.userBookMapper">

	<select id="userBookRead" parameterType="java.lang.Long" resultType="com.gobook.bookmanage.dto.BookDto">
		select * from book where book_num=#{book_num}
	</select>

	<!-- 장바구니 -->
	<select id="myBasketSelect" parameterType="java.lang.Long" resultType="com.gobook.mybasket.dto.MyBasketDto">
		select *from mybasket where book_num=#{book_num}
	</select>
	
	<insert id="userBookBasketInsert" parameterType="java.util.HashMap">
		insert into myBasket values(mybasket_basket_num_seq.nextval, #{member_id}, #{book_num}, #{basket_total_price}, #{book_quantity}, sysdate)
	</insert>
	
	<!-- 재입고 신청 -->
	<update id="userBookSoldOutAskUpdate" parameterType="java.lang.Long">
		update book set book_reorder_count=book_reorder_count+1 where book_num=#{book_num}
	</update>	
	
	<!-- 공구 신청 -->
	<update id="userBookGroupPurchaseAskUpdate" parameterType="java.lang.Long">
		update book set book_group_purchase_count=book_group_purchase_count+1 where book_num=#{book_num}
	</update>
	
	<!-- 별점 -->
	<select id="starSelect" parameterType="java.util.HashMap" resultType="int">
		select count(*)from userBookStar where member_id=#{member_id} and book_num=#{book_num}
	</select>
	
	<insert id="userBookStarInsert" parameterType="java.util.HashMap">
		insert into userBookStar values(userBookStar_userstar_num_seq.nextval, #{member_id}, #{book_num}, #{userbookstar_star})
	</insert>
	
	<select id="userbookstarSelect" parameterType="java.lang.Long" resultType="int">
		select sum(userbookstar_star) from userBookStar where book_num=#{book_num}
	</select>
	
	<select id="userbookstarCount" parameterType="java.lang.Long" resultType="int">
		select count(userbookstar_star) from userBookStar where book_num=#{book_num}
	</select>
	
	<update id="bookStarUpdate" parameterType="java.util.HashMap">
		update book set book_star=#{avgStar} where book_num=#{book_num}
	</update>
	
	<!-- 목록 -->
	<select id="userBookListCount" parameterType="java.lang.String" resultType="int">
		select count(*) from book where book_category like '%' || #{category} || '%'
	</select>
	
	<select id="userBookListSelect" parameterType="java.util.HashMap" resultType="com.gobook.bookmanage.dto.BookDto">
		<![CDATA[
		SELECT *FROM
			(SELECT ROWNUM rnum, b.*FROM
				(SELECT *FROM book WHERE book_category LIKE '%' || #{category} || '%')b)
					where rnum>=#{startRow} and rnum<=#{endRow}
		]]>
	</select>
	
	<select id="bookSerchCount" parameterType="java.lang.String" resultType="int">
		select count(*) from book where book_name like '%' || #{keyword} || '%'
	</select>
	
	
	<select id="bookSerchList" parameterType="java.util.Map" resultType="com.gobook.bookmanage.dto.BookDto">
		<![CDATA[
			select * from 
				(select rownum rnum, a.* from 
					(select * from book where book_name like '%' || #{keyword} || '%')a)
			where rnum>=#{startRow} and rnum<=#{endRow}
		]]>
	</select>
	
	
	<!-- 관심분야 -->
	<select id="interestSelect" parameterType="java.lang.String" resultType="java.lang.String">
		select member_interest from member where member_id=#{member_id}
	</select>
	
	<select id="userBookInterestReadingSelect" parameterType="java.lang.String" resultType="com.gobook.bookmanage.dto.BookDto">
	<![CDATA[
		SELECT *FROM
			book WHERE book_publish_date in(SELECT book_publish_date FROM
				(SELECT ROWNUM rnum, A.*FROM
					(SELECT *FROM book WHERE book_category LIKE '%' || #{interest} || '%'
						ORDER BY book_publish_date DESC)A)
							where rnum>=1 and rnum<=3)
	]]>				
	</select>
	
	<!-- 검색 -->
	<select id="sujestBookList" parameterType="String" resultType="String">
		select book_name from book where book_name like '%' || #{value} || '%'
	</select>
	
			
	<!-- 공동구매 -->
	<select id="userBookGroupPurchaseList" resultType="com.gobook.bookmanage.dto.BookGroupPurchaseDto">
		<![CDATA[
		select gp.group_purchase_num gp_num, gp.*, book.book_name, book.book_cost, book.book_price, book.book_quantity
			from grouppurchase gp, book
				WHERE gp.book_num=book.book_num
					and gp.group_purchase_state=1
		]]>
	</select>
	
	<select id="userBookGroupPurchaseRead" parameterType="java.lang.Long" resultType="com.gobook.bookmanage.dto.BookGroupPurchaseDto">
		<![CDATA[
			select gp.group_purchase_num gp_num, gp.*, book.book_name, book.book_cost, book.book_price, book.book_quantity, book.book_writer, book.book_publisher, book.book_publish_date, book.book_index, book.book_summary
				from grouppurchase gp, book
					WHERE gp.book_num=book.book_num
						and gp.book_num=#{book_num}
		]]>
	</select>
	
	<select id="userBookGroupPurchaseSelect" parameterType="java.util.HashMap" resultType="int">
		select count(*) from usergp where book_num=#{book_num} and member_id=#{member_id}
	</select>
	
	<insert id="userBookGroupPurchaseInsert" parameterType="java.util.HashMap">
		insert into userGP values(usergp_user_gp_num_seq.nextval, #{group_purchase_num}, #{book_num}, #{member_id})
	</insert>
	
	<update id="userBookGroupPurchaseUpdate" parameterType="int">
		update grouppurchase set group_purchase_count=group_purchase_count+1 where group_purchase_num=#{group_purchase_num}
	</update>
</mapper>