<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.memberMapper">
	<select id="memberZipcode" parameterType="String" resultType="com.gobook.member.dto.ZipcodeDto">
		select * from zipcode where dong=#{dong}
	</select>
	
	<select id="memberIdCheck" parameterType="String" resultType="String">
		select member_id from member where member_id=#{id}
	</select>
	
	<insert id="memberInsert" parameterType="com.gobook.member.dto.MemberDto">
		insert into member values(
			#{member_id},
			#{member_password},
			#{member_name},
			#{member_zipcode},
			#{member_address1},
			#{member_address2},
			#{member_phone},
			#{member_interest},
			#{member_birth},
			#{member_email},
			#{member_point})
	</insert>
	
	<insert id="memberNewCouponInsert" parameterType="com.gobook.member.dto.MemberDto">
		Insert into userCoupon values(userCoupon_user_coupon_num_seq.nextval,
		#{member_id}, '1')
	</insert>
	
	<select id="memberLogin" resultType="String" parameterType="java.util.HashMap">
		select member_id from member where member_id=#{id} and member_password=#{password}
	</select>
	
	<delete id="memberDeleteCouponDate" parameterType="String">
		<![CDATA[
			DELETE FROM usercoupon
				where mcoupon_num=(
					SELECT	ucoupon.mcoupon_num
						FROM usercoupon ucoupon, managercoupon mcoupon
							WHERE ucoupon.mcoupon_num=mcoupon.mcoupon_num
							AND mcoupon.manager_coupon_period < SYSDATE
							AND member_id=#{loginId})
		]]>
	</delete>
	
	<delete id="memberDeleteBasketDate" parameterType="String">
		<![CDATA[
			delete from mybasket where basket_date<sysdate-7 and member_id=#{loginId}
		]]>
	</delete>
	
	<delete id="memberDelete" parameterType="java.util.HashMap">
		delete from member where member_id=#{id} and member_password=#{password}
	</delete>
	
	<select id="memberSelect" parameterType="String" resultType="com.gobook.member.dto.MemberDto">
		select * from member where member_id=#{id}
	</select>
	
	<update id="memberUpdate" parameterType="com.gobook.member.dto.MemberDto">
		<![CDATA[
			update member set member_password=#{member_password},
							  member_zipcode=#{member_zipcode},
							  member_address1=#{member_address1},
							  member_address2=#{member_address2},
							  member_phone=#{member_phone},
							  member_interest=#{member_interest},
							  member_birth=#{member_birth},
							  member_email=#{member_email}
			where member_id=#{member_id}
		]]>
	</update>
	
			<!-- 베스트 셀러 -->
	<select id="userBookBestSeller" resultType="com.gobook.userorder.dto.UserOrderDto">
	<![CDATA[
		SELECT *FROM
			(SELECT ROWNUM rnum, A.*FROM
				 (SELECT sum(order_book_count), book_num FROM
					userorder GROUP BY book_num
						ORDER BY 1 DESC) A)
							WHERE rnum>=1 and rnum<=8
	]]>
	</select>
</mapper>