<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.locationMapper">
	
	<insert id="locationWriteInsert" parameterType="com.gobook.location.dto.LocationDto">
		insert into location values(location_location_num_seq.nextval,
			#{location_address},
			#{location_admin},
			#{location_phone})
	</insert>
	
	<select id="locationSelectList" resultType="com.gobook.location.dto.LocationDto">
		select * from location
	</select>
	
	<select id="locationUpSelect" parameterType="int" resultType="com.gobook.location.dto.LocationDto">
		select * from location where location_num=#{location_num}
	</select>
	
	<update id="locationUpdate" parameterType="com.gobook.location.dto.LocationDto">
		update location set location_address=#{location_address},
							location_admin=#{location_admin},
							location_phone=#{location_phone}
		where location_num=#{location_num}
	</update>
	
	<delete id="locationDelete" parameterType="int">
		delete from location where location_num=#{location_num}
	</delete>
</mapper>