<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.locationMapper">
	
	<insert id="locationWriteInsert" parameterType="com.gobook.location.dto.LocationDto">
		insert into location values(location_location_num_seq.nextval,
			#{location_address},
			#{location_admin},
			#{location_phone})
	</insert>
	
	<select id="locationSelectList" resultType="com.gobook.location.dto.LocationDto">
		select * from location
	</select>
</mapper>