<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.myPageMapper">
	
	<!-- 주문내역 -->
	<select id="myPageOrderListSelect" parameterType="java.lang.String" resultType="com.gobook.userorder.dto.UserOrderDto">
		<![CDATA[ 
			SELECT * 
				FROM userorder 
					WHERE member_id=#{member_id} AND order_date = 
						ALL(SELECT MAX(order_date)
							from userorder)
		]]>
	</select>
	
	<select id="myPageOrderCount" parameterType="java.lang.String" resultType="int">
		<![CDATA[ 
		select count(*) from userorder where member_id=#{member_id}
		]]>
	</select>
	
	<select id="myPageHistoryListSelect" parameterType="java.util.HashMap" resultType="com.gobook.userorder.dto.UserOrderDto">
		<![CDATA[
		select *from
			(select rownum rnum, u.*from
				(select *from userorder order by order_bunho desc)u)
					where rnum>=#{startRow} and rnum<=#{endRow} and member_id=#{member_id}
		]]> 
	</select>
	
	<!-- 쿠폰함 -->
	<select id="myPageCouponSelect" parameterType="java.lang.String" resultType="com.gobook.member.dto.UserCouponDto">
		select *from usercoupon where member_id=#{member_id}
	</select>
	
	<!-- 포인트함 -->
	<select id="myPagePointSelect" parameterType="java.lang.String" resultType="int">
		select member_point from member where member_id=#{member_id}
	</select>
<!-- 	
	1:1문의
	<select id="myPagePvPListSelect" parameterType="java.lang.String" resultType="com.gobook.help.dto.HelpPvPDto">
		<![CDATA[
		SELECT * FROM
			(SELECT ROWNUM rnum, A.* FROM
				(SELECT *FROM helppvp where member_id=#{member_id} ORDER BY helppvp_write_date DESC)A)
					where rnum>=1 and rnum<=5
		]]> 
	</select>
	
	<select id="myPagePvPRead" resultType="com.gobook.help.dto.HelpPvPDto">
		select *from helppvp where helppvp_num=#{helppvp_num}
	</select>
	 -->
</mapper>