@CHARSET "UTF-8";

/* DEFUAL STYLE START */
.body{
	width: 85%; height:300px;
	border: 0px solid blue;
	display: block;
	float: left;
	margin-left:400px;
	margin-top:-130px;	
}
.point_body{
	width: 500px; height:60px;
	border: 0px solid red;	
}
