<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.myBasketMapper">
	<select id="myBasketCount" parameterType="String" resultType="int">
		select count(*) from myBasket where member_id=#{member_id}
	</select>
	
	<select id="myBasketList" parameterType="String" resultType="com.gobook.mybasket.dto.MyBasketDto">
		<![CDATA[
			select * from
				(select rownum rnum, a.* from 
					(select * from myBasket) a)
			where member_id=#{member_id}
		]]>
	</select>
	
	<delete id="myBasketDelete" parameterType="int">
		delete from myBasket where basket_num=#{basket_num}
	</delete>
	
	<select id="myBasketSelectList" parameterType="String" resultType="com.gobook.mybasket.dto.MyBasketDto">
		<![CDATA[
			select * from myBasket where member_id=#{member_id}
		]]>
	</select>
	
	<update id="myBasketUpdate" parameterType="com.gobook.mybasket.dto.MyBasketDto">
		update myBasket set basket_quantity=#{basket_quantity}, basket_total_price=#{basket_total_price} where basket_num=#{basket_num}
	</update>
	
	<select id="myBasketSelect" parameterType="int" resultType="com.gobook.mybasket.dto.MyBasketDto">
		select * from myBasket where basket_num=#{basket_num}
	</select>
</mapper>