<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="dao.UserOrderMapper">
	<select id="userOrderCouponListSelect" parameterType="String" resultType="com.gobook.member.dto.UserCouponDto"> 
		SELECT ucoupon.user_coupon_num,mcoupon.MANAGER_COUPON_NAME user_coupon_name, mcoupon.MANAGER_COUPON_DISCOUNT user_coupon_discount
		FROM usercoupon ucoupon, managercoupon mcoupon 
		WHERE ucoupon.mcoupon_num=mcoupon.mcoupon_num 
		AND member_id=#{member_id}
	</select>
	
	<insert id="userOrderPayInsert" parameterType="com.gobook.userorder.dto.UserOrderDto">
		insert into userorder values(
			userorder_order_bunho_seq.nextval,
			#{member_id},
			#{book_num},
			#{order_book_name},
			#{order_book_price},
			#{order_book_count},
			#{order_zipcode},
			#{order_book_user_address1},
			#{order_book_user_address2},
			#{order_book_point},
			#{order_user_coupon_name},
			#{order_user_coupon_discount},
			#{order_book_user_number},
			#{order_book_state},
			#{order_book_charge},
			sysdate,
			#{order_total_price})
	</insert>
	
	<delete id="userOrderBasketDelete" parameterType="String">
		delete from myBasket where member_id=#{member_id}
	</delete>
	
	<delete id="userOrderCouponDelete" parameterType="java.util.HashMap">
		delete from userCoupon where member_id=#{member_id} and user_coupon_num=#{order_user_coupon_num}
	</delete>
	
	<update id="userOrderPointUpdate" parameterType="java.util.HashMap">
		update member set member_point=member_point-#{order_book_point} where member_id=#{member_id}
	</update>
	
	<select id="userOrderSalesBookSelect" parameterType="long" resultType="int">
		select book_cost from book where book_num=#{book_num}
	</select>
	
	<insert id="userOrderSalesInsert" parameterType="java.util.HashMap">
		insert into salesDaily values(salesdaily_SALESDAILY_NUM_SEQ.nextval, #{order_bunho}, #{member_id}, #{book_num}, #{salesDaily_profit})
	</insert>
	
	<select id="salesUODSelect" resultType="com.gobook.userorder.dto.UserOrderDto">
		select * from userOrder where order_bunho=(select nvl(max(order_bunho),0) from userorder)
	</select>
	
	<update id="userOrderSaving" parameterType="java.util.HashMap">
		update member set member_point=member_point+#{savingPoint} where member_id=#{member_id}
	</update>
	
	<update id="userOrderUpBook" parameterType="java.util.HashMap">
		update book set book_quantity= book_quantity-#{book_count}, book_state=#{book_state} where book_num=#{book_num}
	</update>
</mapper>