@CHARSET "UTF-8";

.title{
	width: 800px; height:30px;
	border: 0px solid black;
	margin-bottom: 3px; 
}

.category{
	width: 13%; height:200px;
	border: 0px solid black;
	display: block;
	float: left;	
}

.category > a{
	display: block;
}

a:link {
	text-decoration:none;
	color:blue;
}

a:visited {
	text-decoration:none;
	color:black;
}

a:hover {
	text-decoration:underline;
	color:black;
}
