@CHARSET "UTF-8";

.book_read{
	width:80%;
	border: 0px solid black;
	margin: 0px auto;
}


.book_top{
	width:100%;
	border: 0px dotted blue;
}
/* 책 표지 */
.book_cover{
	width:30%; height:30%;
	border: 1px solid black;
	margin: 1px;
	float: left;
}

/* 책 상세내용 */
.book_info{
	width:68%; height:30%;
	border: 1px solid black;
	margin: 1px;	
	float: left;
}

.info{
	width:100%;
 	border: 0px dotted yellow; 
}

.book_body{
	width:100%; 
	border: red 0px dotted;
	margin-top: 3px;
}
.book_title{
	width:100%;
	border: blue 0px dotted;
	display: block;
	margin: 0px 2px;
	margin-top: 4px;
}

.book_content{
	width:100%;
	border: 0px solid black;
	display: block;
	float: left;
	margin-top: 4px;
}
