@CHARSET "UTF-8";

.interest{
	width:32%; height:30%;
	border: 0px dotted red;
	margin: 4px 1px;
	margin-left: 6px;
	float: left;
}

.interestAll{
	width:700px; height:740px;
	border: 0px solid red;
	margin: 0px auto;
}

.interestBody{
	width:99%; height:99%;
	border: 0px dotted blue;
}