@CHARSET "UTF-8";

.interestAll{
	width:700px; height:700px;
/* 	border: 1px solid red; */
	margin: 0px auto;
}

.interestBody{
	width:99%; height:99%;
	border: 1px dotted blue;
}

.interest{
	width:32%; height:30%;
	border: 1px solid red;	
	float: left;
	margin: 10px 3px;
	margin-left: 4px;
}