<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.salesMapper">
	<select id="salesCalculCount" resultType="int" parameterType="String">
		SELECT count(*) FROM salesmonthly WHERE SALESMONTHLY_DATE = #{salesdaily_date}
		and book_num is null
	</select>
	
	<select id="salesDailyCount" resultType="int" parameterType="java.util.HashMap">
		SELECT count(*) FROM salesdaily dsale, userorder uo WHERE dsale.order_bunho=uo.order_bunho AND uo.order_date BETWEEN to_date(#{salesdaily_date}, 'yy/mm/dd hh24:mi:ss') AND to_date(#{next_date}, 'yy/mm/dd hh24:mi:ss')
	</select>
	
	<select id="salesDailyList" resultType="com.gobook.sales.dto.SalesDailyDto" parameterType="java.util.HashMap">
		SELECT dsale.salesdaily_num,uo.order_date salesdaily_date, b.book_num, b.BOOK_NAME salesdaily_book_name, b.book_cost salesdaily_book_cost, b.book_price salesdaily_book_price, uo.order_book_count salesdaily_quantity, b.book_price*uo.order_book_count salesdaily_total, uo.order_total_price salesdaily_pay, uo.order_total_price-(b.book_cost*uo.order_book_count) salesdaily_profit 
			FROM salesdaily dsale, book b, userorder uo
				WHERE dsale.order_bunho=uo.order_bunho AND 
				uo.book_num=b.book_num AND
				uo.order_date between to_date(#{salesdaily_date}, 'yy/mm/dd hh24:mi:ss') and to_date(#{next_date}, 'yy/mm/dd hh24:mi:ss')
	</select>
	
	<insert id="salesMonthlyInsert" parameterType="java.util.HashMap">
		insert into salesmonthly(salesm_num, salesmonthly_daily_sale, salesmonthly_daily_profit, salesmonthly_date) values(salesm_num_seq.nextval, #{daily_sum}, #{daily_profit}, #{salesmonthly_date})
	</insert>
	
	<select id="salesMonthlyCount" resultType="int" parameterType="java.util.HashMap">
		<![CDATA[
			select count(*) from salesmonthly where salesmonthly_date >=#{start} and salesmonthly_date <=#{end}
		]]>
	</select>
	
	<select id="salesMonthlyList" resultType="com.gobook.sales.dto.SalesMonthlyDto" parameterType="java.util.HashMap">
		<![CDATA[
			select * from salesmonthly where salesmonthly_date >=#{start} and salesmonthly_date <=#{end} order by 1 asc
		]]>
	</select>
</mapper>