@CHARSET "UTF-8";


.title{
	width: 805px; height:30px;
	border: 1px solid black;
	margin-bottom: 3px; 
}

.category{
	width: 13%; height:200px;
	border: 1px solid black;
	display: block;
	float: left;	
}

.category > a{
	display: block;
}

a:link {
	text-decoration:none;
	color:black;
}

a:visited {
	text-decoration:none;
	color:black;
}

a:hover {
	text-decoration:underline;
	color:black;
}
#tda:link {
	text-decoration:none;
	color: white;
}

#tda:visited {
	text-decoration:none;
	color: white;
}

#tda:hover {
	text-decoration:none;
	color: black;
}