@CHARSET "UTF-8";


.all{
	width:800px;
	margin: 0px auto;
}
.body{
	width: 690px; height:300px;
	border: 0px solid blue;
	margin-left:200px;
	margin-top:-250px;
	display: block;
	float: left;	
}

.myPageCouponSelect{
	width:600px; height:500px;
 	border: 0px solid black; 
	margin: 0px auto;
}

