@CHARSET "UTF-8";




.title{
	width: 700px; height:30px;
	border: 0px solid black;
	margin-bottom: 3px; 
}

.body{
	width: 690px; height:300px;
	border: 0px solid blue;
	margin-left:200px;
	margin-top:-250px;
	display: block;
	float: left;	
}

.point_body{
	width:600px; height:500px;
 	border: 0px solid black; 
	margin: 0px auto;	
}

